* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.12px;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
}

.get-started {
  border-radius:10px;
  border:1px solid #24DEF9;
  text-align: center;
  border-radius:10px;
  background-color: #24DEF9;
  color:#fff;
  padding-left:8px;
  padding-right: 8px;
}

.nav-link {
  color: #031D44;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 300ms;
  height: 2px;
  content: "";
  position: absolute;
  background-color: #031D44;
}

.nav-link-ltr::before {
  width: 0%;
  top: 30px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}

@media screen and (max-width:768px) {
  .get-started {
    border-radius:10px;
    border:1px solid black;
    padding:3px;
    margin-right: 190px;
    background-color: black;
    color:#fff
  }
}
